<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jc.flora">

    <!--
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    -->


    <!-- Wifi开发需要以下权限 -->
    <!--
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    -->


    <!-- 蓝牙开发需要以下权限 -->
    <!--
            <uses-permission android:name="android.permission.BLUETOOTH"/>
        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
        <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".launcher.LauncherSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".launcher.LauncherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".launcher.NotFoundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".apps.scene.splash.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.splash.projects.Splash1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/FloraTheme" />
        <activity
            android:name=".apps.scene.splash.projects.Splash2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/FloraTheme" />
        <activity
            android:name=".apps.scene.splash.projects.Splash3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/FloraTheme" />
        <activity
            android:name=".apps.scene.splash.projects.Splash5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/FloraTheme" />
        <activity
            android:name=".apps.scene.splash.projects.Splash7Activity"
            android:screenOrientation="portrait"
            android:theme="@style/FloraTheme" />
        <activity
            android:name=".apps.scene.splash.projects.TestMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.splash.projects.TestLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.exit.ExitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.exit.projects.DialogExitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.exit.projects.DoubleBackExitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.upgrade.UpgradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.upgrade.projects.SplashUpgradeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FloraTheme" />
        <activity
            android:name=".apps.component.upgrade.projects.SettingsUpgradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.bgchange.BgChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.bgchange.projects.BgChange1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".apps.ui.bgchange.projects.BgChange2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".apps.ui.bgchange.projects.TestBgChange1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".apps.ui.bgchange.projects.TestBgChange2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".apps.component.request.NetRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.request.projects.NetRequest1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.request.projects.NetRequest2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.request.projects.NetRequest4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.request.projects.NetRequest5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.dialog.DialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.dialog.projects.AlertDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.dialog.projects.ProgressDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.dialog.projects.SystemDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.dialog.projects.ToastActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.dialog.projects.SnackBarShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.dialog.projects.BottomSheetDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.hybrid.HybridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.hybrid.projects.JsCallAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.statistics.StatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.statistics.projects.Statistics1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.blur.BlurActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.blur.projects.Blur1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.arclayout.ArcLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.arclayout.projects.ArcLayout1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.arclayout.projects.ArcLayout6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.transition.TransitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.transition.projects.PendingTransitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.transition.projects.PendingTransition2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.stable.StableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.stable.projects.Stable1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.stable.projects.Stable2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.stable.projects.Stable3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.stable.projects.Stable4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.stable.projects.Stable5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/FloraTheme" />
        <activity
            android:name=".apps.ui.stable.projects.Stable6Activity"
            android:screenOrientation="portrait"
            android:theme="@style/FloraTheme" />
        <activity
            android:name=".apps.ui.stable.projects.Stable7Activity"
            android:screenOrientation="portrait"
            android:theme="@style/FloraTheme" />
        <activity
            android:name=".apps.ui.stable.projects.Stable8Activity"
            android:screenOrientation="portrait"
            android:theme="@style/FloraTheme" />
        <activity
            android:name=".apps.ui.stable.projects.Stable9Activity"
            android:screenOrientation="portrait"
            android:theme="@style/FloraTheme" />
        <activity
            android:name=".apps.component.image.ImageLoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.image.projects.Gif1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.image.projects.Gif2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.BannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner7Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner8Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner9Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner10Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner11Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner12Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner13Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner14Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner15Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner16Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner17Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner18Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner19Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner20Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner21Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.banner.projects.Banner22Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.BluetoothActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth7Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth8Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth9Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth10Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth11Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.bluetooth.projects.Bluetooth12Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.CaptainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain7Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain8Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain9Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain10Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain11Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain12Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain13Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain14Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain15Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain16Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain17Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain18Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain19Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.captain.projects.Captain20Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.reload.ReloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.reload.projects.Reload1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.reload.projects.Reload2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.badge.BadgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.badge.projects.OvalBadgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.router.RouterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.router.projects.EasyRouterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.router.projects.GetDataTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.router.projects.ReceiveDataTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login4TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login5TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login7Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login8Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login9Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login10Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.login.projects.Login12Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.guider.GuiderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.guider.projects.Guider1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.guider.projects.Guider2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.guider.projects.Guider3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.guider.projects.Guider4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.guider.projects.GuiderXhsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.vi.ViActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.vi.projects.ViWeight1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.vi.projects.ViWeight2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.vi.projects.ViWeight3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.vi.projects.ViPercentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.vi.projects.ViCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.vi.projects.ViFidelityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.marquee.MarqueeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.marquee.projects.Marquee2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.md.toolbar.ToolbarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.md.toolbar.projects.Toolbar1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.md.toolbar.projects.Toolbar2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.md.toolbar.projects.Toolbar3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.md.toolbar.projects.Toolbar4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.md.toolbar.projects.Toolbar5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.md.toolbar.projects.Toolbar6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.md.toolbar.projects.Toolbar7Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.md.toolbar.projects.Toolbar8Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.render.RenderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.render.projects.RenderColorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.render.projects.RenderTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.render.projects.RenderDimen1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.render.projects.RenderDimen2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.app.grace.GraceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.app.novel.NovelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.app.novel.NovelCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.app.novel.NovelContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.telephone.TelephoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.telephone.projects.Telephone1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.telephone.projects.Telephone2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.buoy.BuoyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.buoy.projects.Buoy1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.buoy.projects.Buoy2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.ShapeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapeCornerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapeOvalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapeGradientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapeLineActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapeSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapeRippleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapePackCornerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapePackOvalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapePackImage1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapePackImage2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapePackImage3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapeCircleImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.shape.projects.ShapeCustomImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.audio.AudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.audio.projects.Audio1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.audio.projects.Audio2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.audio.projects.Audio3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.audio.projects.Audio4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.audio.projects.Audio5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.audio.projects.Audio6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.component.audio.projects.Audio7Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.steps.StepsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.steps.projects.Steps1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.progress.ProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.progress.projects.Progress1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.list.ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.list.projects.ListSlip1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.list.projects.ListSlip2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.list.projects.ListSlip3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.list.projects.ListSlip4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.payment.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.payment.projects.Payment1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.payment.projects.Payment2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.payment.projects.Payment3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.payment.projects.Payment4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.scene.payment.projects.Payment5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.bezier.BezierActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.bezier.projects.Bezier1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.bezier.projects.Bezier2Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".apps.ui.typeface.TypefaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.typeface.projects.PhoneticIpaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.typeface.projects.PhoneticPinyin1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".apps.ui.typeface.projects.PhoneticPinyin2Activity"
            android:screenOrientation="portrait" />
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- alipay sdk end -->

        <service android:name=".apps.component.audio.projects.Audio2Service" />
        <service android:name=".apps.component.audio.projects.Audio3Service" />
        <service android:name=".apps.component.audio.projects.Audio4Service" />
        <service android:name=".apps.component.audio.projects.Audio5Service" />
        <service android:name=".apps.component.audio.projects.Audio6Service" />
        <service android:name=".apps.component.audio.projects.Audio7Service" />
        <service android:name=".apps.ui.dialog.projects.TestService" />

    </application>

</manifest>